// footer

footer{
    width: auto;
    height: 197px;
    background: $color-footer;
    color: $white;
    font-size: 16px;
    font-weight: 500;

}
        
.footer-title{
    @include font-logo-ohmyfood;
    font-size: map-get($font-size, tertiary-titles);
    margin-top: 0;
    margin-left: 40px;
    padding-top: 22px;
                
}
.footer-list-container{
    list-style-type: none;
    display: flex;
    flex-direction: column;
       
}
       

.footer_list-items{
    margin-bottom: 7px;    
        i{
            font-size: 13px;
            margin-right: 11px;
        }

}
.fa-utensils{
    padding-right: 5px;
}
.footer-link{
    color: $white;
        &:hover{
            color: $color-secondary;
        }
}