// footer

footer{
    width: auto;
    height: 197px;
    background: $color-footer;
    color: $white;
    font-size: 16px;
    font-weight: 500;
    @include breakpoints-tablet{
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        // margin-left: 50px;
    }
}
        
.footer-title{
    @include font-logo-ohmyfood;
    font-size: map-get($font-size, tertiary-titles);
    margin-top: 0;
    margin-left: 40px;
    padding-top: 22px;
        @include breakpoints-tablet{
            margin: 0 15px;
            padding: 0 10px;
        }
        @include breakpoints-desktop{
            margin: 0 25px;
        }
        
}
.footer-list-container{
    list-style-type: none;
    display: flex;
    flex-direction: column;
        @include breakpoints-tablet{
            display: flex;
            flex-direction: row;
            padding-left: 0;
        }
       
}
       

.footer_list-items{
    margin-bottom: 7px;
    @include breakpoints-tablet{
        margin: 10px;
        // padding:10px;
        white-space: nowrap;
    }
    @include breakpoints-desktop{
        margin-left: 35px;
    }
        i{
            font-size: 13px;
            margin-right: 11px;
        }
        &:hover{
            color: $color-secondary;
        }          
}
.fa-utensils{
    padding-right: 5px;
}
.footer-link{
    color: $white;
        &:hover{
            background:linear-gradient(to left, $color-primary, lighten($color-primary, 5%), $color-secondary, lighten($color-secondary, 5%));
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
}