// header index
.restaurant-name{
    @include font-logo-ohmyfood;
    font-size: map-get($font-size, main-titles);
    @extend %flex-center-column;
}

// // xxxxxxxxxxxxxxxxxxx
// // header restaurants
// // xxxxxxxxxxxxxxxxxxx
.header__restaurants{
    display: flex;
    justify-content: center;
    // position: relative;
    align-items: center;
        .restaurant-name{
            text-align: center;
            margin: 25px auto;
            // position: absolute;
        }
        .arrow{
            position: relative;
            // flex-direction: row;
            // margin-left: 25px;
            align-self: center;
            bottom: 4px;
            // right: 20%;
            left: 25px;
            font-size: 20px;
            width: 17.2px;
            height: 16px;
        }

}

