// header index
h1{
    @include font-logo-ohmyfood;
    font-size: map-get($font-size, main-titles);
    @extend %flex-center-column;
}

// // xxxxxxxxxxxxxxxxxxx
// // header restaurants
// // xxxxxxxxxxxxxxxxxxx
.restaurants-header{
    display: flex;
    justify-content: center;
    position: relative;
        .arrow{
            position: absolute;
            align-self: center;
            top: 30px;
            left: 40px;
            font-size: 20px;
            width: 17.2px;
            height: 16px;
        }

}

