// xxxxxxxxxxxxxxxx
// button main 
// xxxxxxxxxxxxxxxx
.btn-main{
    @include btn-main;
        &:hover{
            opacity: 0.9;
            box-shadow: 0 4px 15px rgba(0, 0, 0, 0.6);
            transition-duration: $transition-btn;
        }        
}

// xxxxxxxxxxxxxxxx
// hearts
// xxxxxxxxxxxxxxxx
.fa-heart{
    animation: degress-color-heart 600ms;
    cursor: pointer;
        &:hover{
            @include heart-hover;

        }

}