// xxxxxxxxxxx
// generals
// xxxxxxxxxxx
body{
    font-family: "Roboto", sans-serif;
    font-size: map-get($font-size, texts);
    margin: 0;
    padding: 0;
    position: relative; 
    // &::before{
    //     z-index: 1;
    // animation-delay: 3000ms;
    // animation: loading-body 500ms;
    // }
}


main{
    text-align: center;
   
}
section{
    background: $color-background;
    padding-bottom: 80px;
}
a{
    text-decoration: none;
    color: black;
}

