// xxxxxxxxxxx
// generals
// xxxxxxxxxxx
body{
    font-family: Roboto, sans-serif;
    font-size: map-get($font-size, texts);
    margin: 0;
    padding: 0;
    @include breakpoints-tablet{
        min-width: auto;
    }

}


main{
    text-align: center;
   
}
section{
    background: $color-background;
    padding-bottom: 80px;
}
a{
    text-decoration: none;
    color: black;
}

// xxxxxxxxxxxxxxxx
// localisation
// xxxxxxxxxxxxxxxx

.localisation{
    @extend %flex-center-row;
    background-color: #EAEAEA;
        i{
            margin-right: 20px;
        }

}

// xxxxxxxxxxxxx
// menu
// xxxxxxxxxxxxx
.restaurants-menu {
    background: $color-background;
    padding-bottom: 39px;
        h2{
            margin-top: 0;
            padding-top: 39px;
                @include breakpoints-desktop{
                    font-size: 35px;
                    p{
                        font-size: 18px;
                        
                    }
                }
        }
        a{
            @extend %flex-center-column;
            color: $color-background;
            padding-top: 20px;

        }       
}
// xxxxxxxxxxxxxxxxxxxxxx
// container functioning
// xxxxxxxxxxxxxxxxxxxxxx

.nav-container{
    padding: 50px 20px 50px;
        @include breakpoints-tablet{
            position: relative;
            display: flex;
            margin: 0;
            align-items: center;
            justify-content: center;
            width: auto;
            top: 40px;
            
        }
        @include breakpoints-desktop{
            padding:50px  0;
            align-items: center;
            align-content: center;
        }
}

.functioning-container{

    @include breakpoints-tablet{
        margin: 0 15px;
        position: relative;
    }
    @include breakpoints-desktop{
    margin: 10px 13px;
    width: 300px;
    }
}

//xxxxxxx buttons & numbers functioning xxxxxxxxx 

.btn-functioning{
    @include btn-functioning;
        margin-bottom: 25px;
        font-weight: 500;
        font-size: 16px;
        transition: $transition-btn;

        @include breakpoints-tablet{
            white-space: nowrap;
            padding-right: 5px; 
            // transition-duration: $transition-btn;
            position: relative;

        }
        
    &:hover{
        background: $color-bg-functionning;
        box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
        transition-duration: $transition-btn;
            i{
                color: $color-primary;
            }            
        }

}
.logo__functioning{
    &--phone{
        margin-right: 25px;
        color: #7E7E7E;         

    }
    &--list{
        margin-right: 35px;
        color: #7E7E7E;         
        
    }
    &--shop{
        margin-right: 30px;
        color: #7E7E7E;         

    }
}
.logo__functioning{
    @include breakpoints-tablet{

        &--phone{
            padding:0 5px 0 15px;
            margin-right: 0;
        }
        &--list{
            margin-left: 15px;
            margin-right: 5px;
        }
        &--shop{
            margin-left: 15px;
            margin-right: 5px
        }
    }
    
}
.number{
    @extend %flex-center-row;
    z-index: 1;
    position: absolute;
    left: 8px;
    margin-top: 23px;
    right: 12px;
    width: 25px;
    height: 25px;
    border-radius: 25px;
    background: $color-primary;
    color: $white;
    @include breakpoints-tablet{
        left:-13px;
    }
}
// xxxxxxxxxxxxxxxxxxxx
// container restaurant
// xxxxxxxxxxxxxxxxxxxx

.section-container{
    padding: 18px 20px 40px 20px;
    background-color: $color-background;
        @include breakpoints-tablet{
        display: flex;
        position: relative;
        padding: 50px 0 40px 0;
        justify-content: center;
        padding-top: 50px;
        margin-top: 50px;
        flex-wrap: wrap;
        } 
        @include breakpoints-desktop{
        flex-wrap: nowrap;
        overflow: hidden;
        align-items: center;
        padding-left: 480px;
    }
}
.article-container{
    @extend %flex-center-column;
    @include breakpoints-tablet{
        width: 330px;
        margin: 20px;
        position: relative;
    }
    @include breakpoints-desktop{
    }
    
}
.card-heart{
    right: 5%;
    width: 20%;
    display: flex;
    justify-content: flex-end;
    padding-right: 20px;
    font-size: 21px;
}

.title-secondary{
    text-align: left;
    @include breakpoints-tablet{
        position: absolute;
        width: auto;
        top: 1px;    
        margin-right: 580px;
    }
    @include breakpoints-desktop{
        margin-right: 780px;
        font-size: 24px;
    }
}
.title-restaurant{
    @include breakpoints-tablet{
        margin-right: 610px;
    }
    @include breakpoints-desktop{
        margin-right: 1290px;
    }
}
// xxxx cards restaurants xxxxxxxx

.card-container{
    border-radius: map-get($radius-btn, index-btn);
    @include box-shadow; 
    width: 100%;
    // transform: scale(1);
    transition-duration: $transition-btn;
        @include breakpoints-tablet{
            margin: 0;
            max-width: 340px;

        }
        @include breakpoints-desktop{
            width: 320px;
        }
    
        img {
            border-radius: 15px 15px 0 0;
            object-fit: cover;
            height: 174px;
            width: 100%;
        }
        &:hover{
            // transform: scale(1.01);
            transition: $transition-btn;
            box-shadow: 0 4px 15px rgba(0, 0, 0, 0.4);
        }
}

.card-bottom-container{
    display: flex;
    white-space: nowrap;
}

.card-texts{
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
        h2 {
            margin: 5px;
            font-size: 18px;
        }
        p{
            margin: 5px;
        }
}
// xxxx green new xxxxxxxxxxxx
.card-new{
    position: absolute;
    right: 10%;

    border: 1px solid $color-font-news;
    background: $color-background-new;
    color: $color-font-news;

    width: 25%;
    max-width: 150px;
    min-width: 70px;
    height: 29px;

    padding: 12px 5px 5px 5px;  
    

}