// generals
body{
    font-family: Roboto, sans-serif;
    font-size: map-get($font-size, texts);
    margin: 0;
    padding: 0;
}

main{
    text-align: center;
    margin: 0;
}
section{
    background: $color-background;
    padding-bottom: 80px;
}
a{
    text-decoration: none;
    color: black;
}

// xxxxxxxxxxxxxxxx
// localisation
// xxxxxxxxxxxxxxxx

.localisation{
    @extend %flex-center-row;
    background-color: #EAEAEA;
    width: 100%;
        i{
            margin-right: 20px;
        }

}

// xxxxxxxxxxxxx
// menu
// xxxxxxxxxxxxx
.restaurants-menu {
    background: $color-background;
    padding-bottom: 39px;
        h2{
            margin-top: 0;
            padding-top: 39px;
        }
        a{
            @extend %flex-center-column;
            text-decoration: none;
            color: $color-background;
        }       
}
// xxxxxxxxxxxxx
// functioning
// xxxxxxxxxxxxx
nav{
    @extend %flex-center-column;
    padding: 20px;
        h3{
            align-self: flex-start;
        }
}
.functioning-container{
    margin-bottom: 35px;
    text-decoration: none;
    color: $color-footer;
    width: 100%;
}

// xxxxxxxxxxxxx
// container restaurant
// xxxxxxxxxxxxx
.article-container{
    @extend %flex-center-column;
    padding: 18px 20px 0 20px;
    h3{
        align-self: flex-start;
        padding-top: 30px;
    }
    
}
.card-heart{
    right: 5%;
    width: 20%;
    display: flex;
    justify-content: flex-end;
    padding-right: 20px;
    font-size: 21px;
    cursor: pointer;

}