// tablet breakpoints 768px
@media screen and (min-width: 768px) {
    body{
        min-width: auto;
    }
    // xxxxxxxxxxx
    // homepage
    // xxxxxxxxxxx

    // functioning
    .functioning{
        
        // position: relative;
        // display: flex;
        // justify-content: center;
            &__title{
                // position: absolute;
                // top: 0px;
                margin-right: 530px;
            }
    }
    .functioning__container{
        display: flex;
        justify-content: center;
        width: 100%;
    }
    .functioning__card{
        margin: 25px 15px 0 ;
        position: relative;
    }
    .functioning__content{
        white-space: nowrap;
        padding-right: 5px; 
    }
    .functioning__logo{
        &--phone{
            padding:0 5px 0 15px;
            margin-right: 0;
        }
        &--list{
            margin-left: 15px;
            margin-right: 5px;
        }
        &--shop{
            margin-left: 15px;
            margin-right: 5px
        }
    }
    .number{
        left:-13px;
    }
    
    //container restaurants
    .restaurants{
        // display: flex;
        // position: relative;
        padding: 50px 0 40px 0;
        // justify-content: center;
        // padding-top: 50px;
        // flex-wrap: wrap;

            &__title{
                // position: absolute;
                margin-right: 570px;
                // width: auto;
                // top: 1px;    
            }
    }
    .restaurants__container{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        width: 100%;
    }
    .title-restaurant{
        margin-right: 610px;
    }
    .figure__container{
        margin: 20px;
        width: 330px;
        margin: 20px;
    }
    // footer
    footer{
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
    }
    .footer__title{
        margin: 0 15px;
        padding: 0 10px;
    }
    .footer__list{
        flex-direction: row;
        padding-left: 0;
        &--items{
            margin: 10px;
            white-space: nowrap;
        }
    }
    

    // xxxxxxxxxxxxx
    // restaurants
    // xxxxxxxxxxxxx
    .picture__restaurant{
        height: 350px;
    }
    .section__menu{
        width: 70%;
        margin: 0 auto; 
    }
    h4{
        margin-left: 18%;
    }
    .menu-card-container{
        width: 65%;
    }
    
}


// desktop breakpoints 992px xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
@media screen and (min-width: map-get($breakpoints, desktop)) {
    body{
        width: 100%;
    }
    // homepage
    h1{
        font-size: 37px;
    }
    .section__hero{
        padding-bottom: 0;
    }
    .hero__restaurants{
        &--title{
            font-size: 35px;
            p{
                font-size: 18px;
            }
        }
    }
    // functioning
    .functioning{
        justify-content: center;
        border: 1px solid red;
            &__title{
                margin-right: 780px;
                font-size: 24px;
            }
    }
    .functioning__container{
        justify-content: center;
    }
    .functionning__card{
        margin: 10px 0px;
    }
    .functioning__content{
       width: 290px;
        
    }
    // restaurants section
    
    .restaurants{
        min-width: none;
        flex-wrap: nowrap;
        flex-direction: row;
        border: 1px solid blue;
        margin-top: 0;
         &__title{
            font-size: 24px;
         }
    }
    .restaurants__container{
        overflow: hidden;
        justify-content: center;
        flex-wrap: nowrap;
        padding-left: 216px;
        box-sizing: content-box;
    }
    .figure__container{
        overflow: hidden;
        white-space: nowrap;
       min-width: 320px;
       max-width: 320px;
    }
    .footer-title{
        margin: 0 25px;

    }
    .footer_list-items{
        margin-left: 35px;

    }
    // restaurants pages
    .arrow{
        font-size: 30px;
        top: 35px;
    }
}
