// tablet breakpoints 768px
@media screen and (min-width: 768px) {
    body{
        min-width: auto;
    }
    // xxxxxxxxxxx
    // homepage
    // xxxxxxxxxxx

    // functioning
    .section__functioning{
        position: relative;
        display: flex;
        justify-content: center;
            &--title{
                position: absolute;
                top: 0px;
                margin-right: 530px;
            }
    }
    .functioning__card{
        margin: 25px 15px 0 ;
        position: relative;
    }
    .functioning__container{
        white-space: nowrap;
        padding-right: 5px; 
    }
    .functioning__logo{
        &--phone{
            padding:0 5px 0 15px;
            margin-right: 0;
        }
        &--list{
            margin-left: 15px;
            margin-right: 5px;
        }
        &--shop{
            margin-left: 15px;
            margin-right: 5px
        }
    }
    .number{
        left:-13px;
    }
    
    //container restaurants
    .section__restaurants{
        display: flex;
        position: relative;
        padding: 50px 0 40px 0;
        justify-content: center;
        padding-top: 50px;
        flex-wrap: wrap;

            &--title{
                position: absolute;
                margin-right: 570px;
                width: auto;
                top: 1px;    
            }
    }
    
    .title-restaurant{
        margin-right: 610px;
    }
    .figure__container{
        margin: 20px;
        width: 330px;
        margin: 20px;
    }
    // footer
    footer{
        display: flex;
        flex-direction: row-reverse;
     align-items: center;
    }
    .footer-title{
        margin: 0 15px;
        padding: 0 10px;
    }
    .footer-list-container{
        flex-direction: row;
        padding-left: 0;
    }
    .footer_list-items{
        margin: 10px;
        white-space: nowrap;
    }

    // xxxxxxxxxxxxx
    // restaurants
    // xxxxxxxxxxxxx
    .picture__restaurant{
        height: 350px;
    }
    .section__menu{
        width: 70%;
        margin: 0 auto; 
    }
    h4{
        margin-left: 18%;
    }
    .menu-card-container{
        width: 65%;
    }
    
}


// desktop breakpoints 992px xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
@media screen and (min-width: map-get($breakpoints, desktop)) {
    body{
        width: 100%;
    }
    // homepage
    h1{
        font-size: 37px;
    }
    .section__hero{
        padding-bottom: 0;
    }
    .hero__restaurants{
        &--title{
            font-size: 35px;
            p{
                font-size: 18px;
            }
        }
    }
    // functioning
    .section__functioning{
        justify-content: center;
        flex-wrap: nowrap;
            &--title{
                margin-right: 780px;
                font-size: 24px;
            }
    }
    .functionning__card{
        margin: 10px 13px;
    }
    .functioning__container{
        min-width: 250px;
        max-width: 300px;
        
    }
    // restaurants section
    .section__restaurants{
        flex-wrap: nowrap;
        justify-content: center;
        width: 120%;
        border: 1px solid blue;
        margin-top: 0;
         &--title{
            margin-right: 780px;
            font-size: 24px;
         }
    }
    .figure__container{
        margin: 20px;
        position: relative;
    }
    .footer-title{
        margin: 0 25px;

    }
    .footer_list-items{
        margin-left: 35px;

    }
    // restaurants pages
    .arrow{
        font-size: 30px;
        top: 35px;
    }
}
