.hero__restaurants--btn, .restaurant-name, .btn-main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.number, .functioning__content, .hero__localisation {
  display: flex;
  justify-content: center;
  align-items: center;
}

@-webkit-keyframes progress-color-heart {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.25;
  }
  50% {
    opacity: 0.5;
  }
  75% {
    opacity: 0.75;
  }
  100% {
    opacity: 1;
  }
}

@keyframes progress-color-heart {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.25;
  }
  50% {
    opacity: 0.5;
  }
  75% {
    opacity: 0.75;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes degress-color-heart {
  0% {
    font-weight: 600;
    color: #9356DC;
    opacity: 1;
  }
  25% {
    font-weight: 600;
    color: #9356DC;
    opacity: 0.75;
  }
  50% {
    font-weight: 500;
    color: #FF79DA;
    opacity: 0.5;
  }
  75% {
    opacity: 0.75;
  }
  100% {
    opacity: 1;
  }
}
@keyframes degress-color-heart {
  0% {
    font-weight: 600;
    color: #9356DC;
    opacity: 1;
  }
  25% {
    font-weight: 600;
    color: #9356DC;
    opacity: 0.75;
  }
  50% {
    font-weight: 500;
    color: #FF79DA;
    opacity: 0.5;
  }
  75% {
    opacity: 0.75;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes animation-opening {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes animation-opening {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@-webkit-keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes rotation-back {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(-360deg);
  }
}
@keyframes rotation-back {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(-360deg);
  }
}
@-webkit-keyframes loading-page {
  0% {
    opacity: 1;
  }
  100% {
    visibility: hidden;
    opacity: 0;
  }
}
@keyframes loading-page {
  0% {
    opacity: 1;
  }
  100% {
    visibility: hidden;
    opacity: 0;
  }
}
body {
  font-family: "Roboto", sans-serif;
  font-size: 17px;
  margin: 0;
  padding: 0;
  position: relative;
}

main {
  text-align: center;
}

section {
  background: #F7F7F7;
  padding-bottom: 80px;
}

a {
  text-decoration: none;
  color: black;
}

.btn-main {
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  border-radius: 25px;
  background: linear-gradient(#FF79DA, #9356DC);
  margin: 40px auto;
  width: 218px;
  height: 50px;
  transition-duration: 600ms;
}
.btn-main:hover {
  opacity: 0.9;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.6);
  transition-duration: 600ms;
}

.fa-heart {
  -webkit-animation: degress-color-heart 600ms;
          animation: degress-color-heart 600ms;
  cursor: pointer;
}
.fa-heart:hover {
  -webkit-animation: progress-color-heart 600ms;
          animation: progress-color-heart 600ms;
  display: inline-block;
  background: linear-gradient(200.64deg, #9356DC -5.2%, #FF79DA 110.74%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
}

.loader {
  -webkit-animation: loading-page 600ms 2400ms ease-in-out forwards;
          animation: loading-page 600ms 2400ms ease-in-out forwards;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  top: 0;
  margin: 0;
  padding: 0;
  background: #353535;
  opacity: 1;
  z-index: 99;
}
.loader__title {
  text-align: center;
  margin-bottom: 200px;
  font-size: 2em;
  font-weight: 800;
  font-family: shrikhand, sans-serif;
  font-style: italic;
  display: inline-block;
  background: linear-gradient(200.64deg, #9356DC -5.2%, #FF79DA 110.74%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  width: 100%;
}

.loader__circle {
  align-self: center;
  width: 100px;
  height: 100px;
  border-top: 3px dashed #9356DC;
  border-right: 3px dashed #FF79DA;
  -webkit-animation: rotation 3000ms linear infinite;
          animation: rotation 3000ms linear infinite;
  border-radius: 50%;
  display: inline-block;
  position: fixed;
  box-sizing: border-box;
  z-index: 1;
}
.loader__circle::after {
  content: "";
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  border-right: dashed #9356DC;
  border-bottom: 2px dashed #FF79DA;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  -webkit-animation: rotation-back 2000ms linear infinite;
          animation: rotation-back 2000ms linear infinite;
}

.restaurant-name {
  font-family: Shrikhand, sans-serif;
  font-style: italic;
  font-weight: normal;
  font-size: 30px;
}

.header__restaurants {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__restaurants .restaurant-name {
  text-align: center;
  margin: 25px auto;
}
.header__restaurants .arrow {
  position: relative;
  align-self: center;
  bottom: 4px;
  left: 25px;
  font-size: 20px;
  width: 17.2px;
  height: 16px;
}

.hero {
  padding-bottom: 20px;
}

.hero__localisation {
  background-color: #EAEAEA;
  height: 50px;
  text-align: center;
  box-shadow: inset 0 2px 0 0 rgba(0, 0, 0, 0.1);
}
.hero__localisation--fa {
  align-items: center;
}
.hero__localisation--input {
  background-color: #EAEAEA;
  border: unset;
  margin-left: 15px;
}
.hero__localisation--input::-moz-placeholder {
  font-family: "Roboto", sans-serif;
  line-height: 18.75;
  color: black;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
}
.hero__localisation--input:-ms-input-placeholder {
  font-family: "Roboto", sans-serif;
  line-height: 18.75;
  color: black;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
}
.hero__localisation--input::placeholder {
  font-family: "Roboto", sans-serif;
  line-height: 18.75;
  color: black;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
}
.hero__localisation--input:focus {
  outline: #7E7E7E;
}

.hero__restaurants {
  background: #F7F7F7;
  padding-bottom: 0px;
}
.hero__restaurants--title {
  font-family: Roboto, sans-serif;
  font-size: 24px;
  font-weight: 700;
  font-style: normal;
  margin: 0 17%;
  padding-top: 39px;
}
.hero__restaurants--btn {
  color: #F7F7F7;
  padding-top: 20px;
}

.functioning {
  padding: 50px 20px 50px;
  background-color: #fff;
}
.functioning__title {
  text-align: left;
}

.functioning__content {
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  width: 100%;
  height: 72px;
  background: #F7F7F7;
  transition-duration: 600ms;
  margin-bottom: 25px;
  font-weight: 500;
  font-size: 16px;
  transition: box-shadow 600ms;
}
.functioning__content:hover {
  background: #F5EDFF;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
  transition: 600ms;
}
.functioning__content:hover i {
  color: #9356DC;
}

.functioning__logo--phone {
  margin-right: 25px;
  color: #7E7E7E;
}
.functioning__logo--list {
  margin-right: 35px;
  color: #7E7E7E;
}
.functioning__logo--shop {
  margin-right: 30px;
  color: #7E7E7E;
}

.number {
  z-index: 1;
  position: absolute;
  left: 8px;
  margin-top: 23px;
  right: 12px;
  width: 25px;
  height: 25px;
  border-radius: 25px;
  background: #9356DC;
  color: #fff;
}

.restaurants {
  padding: 18px 20px 40px 20px;
  background-color: #F7F7F7;
}
.restaurants__title {
  text-align: left;
}

.container__heart {
  right: 5%;
  width: 20%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 20px;
  font-size: 21px;
}

.figure__container {
  align-self: flex-start;
  margin: 15px 0;
  border-radius: 20px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  width: 100%;
  transition: box-shadow 600ms;
}
.figure__container--img {
  border-radius: 15px 15px 0 0;
  -o-object-fit: cover;
     object-fit: cover;
  height: 174px;
  width: 100%;
}
.figure__container--link {
  position: relative;
}
.figure__container:hover {
  transform: scale(1);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.4);
}

.figcaption__container {
  display: flex;
  white-space: nowrap;
}

.container__texts {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  margin-bottom: 10px;
}
.container__texts--title {
  margin: 5px 10px 0 15px;
  font-size: 18px;
}
.container__texts--localisation {
  margin: 0 10px 5px 15px;
}

.card-new {
  position: absolute;
  font-size: 14px;
  font-weight: bold;
  border-radius: 2px;
  right: 5%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #99E2D0;
  color: #008766;
  text-align: center;
  width: 80px;
  height: 29px;
}

.picture__restaurant {
  width: 100%;
  height: 275px;
  -o-object-fit: cover;
     object-fit: cover;
}

.menus {
  border-radius: 40px 40px 0px 0px;
  background: #F7F7F7;
  position: relative;
  top: -50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 0px;
  margin-bottom: -49px;
}

.title__restaurants {
  font-family: Shrikhand, sans-serif;
  font-size: 18px;
  font-weight: normal;
  font-style: italic;
  line-height: 41px;
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.title__restaurants--hearts {
  margin-left: 20px;
  font-size: 25px;
}

.subtitleMenu {
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  border-bottom: 3px solid #99E2D0;
  width: 40px;
  height: 27px;
  align-self: flex-start;
  margin-left: 5%;
}

.card__container {
  margin: 15px;
  width: 90%;
  display: flex;
  cursor: pointer;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
}
.card__container:hover {
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}
.card__container:hover .card__menu {
  transition-duration: 600ms;
  width: 80%;
  border-radius: 15px 0 0 15px;
}
.card__container:hover .card__checked {
  transition-duration: 600ms;
  visibility: visible;
  width: 20%;
}
.card__container:hover .card__checked i {
  transition-delay: 200ms;
  visibility: visible;
}

.card__menu {
  position: relative;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  padding-left: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background: #fff;
  width: 100%;
  height: 70px;
  transition-duration: 600ms;
}

.card__title {
  margin: 0;
  width: 70%;
  text-align: left;
  font-weight: 500;
  font-size: 17px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.card__garnish {
  text-align: left;
  margin: 0;
  font-weight: 300;
  font-size: 15px;
  line-height: 17.58px;
  align-self: flex-start;
  width: 77%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.card__price {
  display: inline-block;
  position: absolute;
  top: 24px;
  right: 8%;
}

.card__checked {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0 15px 15px 0;
  background: #99E2D0;
  color: #fff;
  font-weight: bold;
  font-size: 20px;
  height: 70px;
  width: 0;
  visibility: hidden;
  transition-duration: 600ms;
}
.card__checked i {
  visibility: hidden;
}

.btn-main {
  margin-top: 35px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  border-radius: 25px;
  background: linear-gradient(#FF79DA, #9356DC);
  margin: 40px auto;
  width: 218px;
  height: 50px;
  transition-duration: 600ms;
  color: #fff;
}
.btn-main:hover {
  opacity: 0.9;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.6);
  transition-duration: 600ms;
}

.anim__delay--1 {
  -webkit-animation: animation-opening 600ms 200ms;
          animation: animation-opening 600ms 200ms;
  transform: scale(0);
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
.anim__delay--2 {
  -webkit-animation: animation-opening 600ms 400ms;
          animation: animation-opening 600ms 400ms;
  transform: scale(0);
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
.anim__delay--3 {
  -webkit-animation: animation-opening 600ms 600ms;
          animation: animation-opening 600ms 600ms;
  transform: scale(0);
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
.anim__delay--4 {
  -webkit-animation: animation-opening 600ms 800ms;
          animation: animation-opening 600ms 800ms;
  transform: scale(0);
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
.anim__delay--5 {
  -webkit-animation: animation-opening 600ms 1000ms;
          animation: animation-opening 600ms 1000ms;
  transform: scale(0);
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
.anim__delay--6 {
  -webkit-animation: animation-opening 600ms 1200ms;
          animation: animation-opening 600ms 1200ms;
  transform: scale(0);
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
.anim__delay--7 {
  -webkit-animation: animation-opening 600ms 1400ms;
          animation: animation-opening 600ms 1400ms;
  transform: scale(0);
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
.anim__delay--8 {
  -webkit-animation: animation-opening 600ms 1600ms;
          animation: animation-opening 600ms 1600ms;
  transform: scale(0);
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
.anim__delay--9 {
  -webkit-animation: animation-opening 600ms 1800ms;
          animation: animation-opening 600ms 1800ms;
  transform: scale(0);
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
.anim__delay--10 {
  -webkit-animation: animation-opening 600ms 2000ms;
          animation: animation-opening 600ms 2000ms;
  transform: scale(0);
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

footer {
  width: auto;
  height: 197px;
  background: #353535;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
}

.footer__title {
  font-family: Shrikhand, sans-serif;
  font-style: italic;
  font-weight: normal;
  font-size: 18px;
  margin-top: 0;
  margin-left: 40px;
  padding-top: 22px;
}

.footer__list {
  list-style-type: none;
  display: flex;
  flex-direction: column;
}
.footer__list--items {
  margin-bottom: 7px;
}
.footer__list--items i {
  font-size: 13px;
  margin-right: 11px;
}
.footer__list--link {
  color: #fff;
}
.footer__list--link:hover {
  color: #FF79DA;
}

.fa-utensils {
  padding-right: 5px;
}

@media screen and (min-width: 768px) {
  body {
    min-width: auto;
  }
  .functioning__title {
    text-align: center;
    margin-right: 530px;
  }
  .functioning__container {
    display: flex;
    justify-content: center;
    width: 100%;
  }
  .functioning__card {
    margin: 25px 15px 0;
    position: relative;
  }
  .functioning__content {
    white-space: nowrap;
    padding-right: 5px;
  }
  .functioning__logo--phone {
    padding: 0 5px 0 15px;
    margin-right: 0;
  }
  .functioning__logo--list {
    margin-left: 15px;
    margin-right: 5px;
  }
  .functioning__logo--shop {
    margin-left: 15px;
    margin-right: 5px;
  }
  .number {
    left: -13px;
  }
  .restaurants {
    padding: 50px 0 40px 0;
  }
  .restaurants__title {
    text-align: center;
    margin-right: 570px;
  }
  .restaurants__container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
  }
  .title-restaurant {
    margin-right: 610px;
  }
  .figure__container {
    margin: 20px;
    width: 330px;
    margin: 20px;
  }
  footer {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
  }
  .footer__title {
    margin: 0 15px;
    padding: 0 10px;
  }
  .footer__list {
    flex-direction: row;
    padding-left: 0;
  }
  .footer__list--items {
    margin: 10px;
    white-space: nowrap;
  }
  .picture__restaurant {
    height: 350px;
  }
  .menus {
    width: 70%;
    margin: 0 auto -48px;
  }
  .menu-card-container {
    width: 65%;
  }
  .card__container:hover .card__menu {
    width: 85%;
  }
  .card__container:hover .card__checked {
    width: 15%;
  }
}
@media screen and (min-width: 992px) {
  body {
    width: 100%;
  }
  h1 {
    font-size: 37px;
  }
  .hero {
    padding-bottom: 0;
  }
  .hero__restaurants {
    padding-bottom: 20px;
  }
  .hero__restaurants--title {
    font-size: 35px;
  }
  .hero__restaurants--title p {
    font-size: 18px;
  }
  .functioning {
    justify-content: center;
  }
  .functioning__title {
    font-size: 24px;
    margin-right: 780px;
  }
  .functioning__container {
    justify-content: center;
  }
  .functionning__card {
    margin: 10px 0px;
  }
  .functioning__content {
    width: 290px;
  }
  .restaurants {
    flex-wrap: nowrap;
    flex-direction: row;
    margin-top: 0;
    overflow-x: hidden;
  }
  .restaurants__title {
    font-size: 24px;
    margin-right: 835px;
  }
  .restaurants__container {
    flex-wrap: nowrap;
    overflow: hidden;
    justify-content: center;
    padding-left: 216px;
    box-sizing: content-box;
  }
  .figure__container {
    overflow: hidden;
    white-space: nowrap;
    min-width: 320px;
    max-width: 320px;
  }
  .footer-title {
    margin: 0 25px;
  }
  .footer_list-items {
    margin-left: 35px;
  }
  .restaurant-name {
    font-size: 37px;
  }
  .card__container:hover .card__menu {
    width: 90%;
  }
  .card__container:hover .card__checked {
    width: 10%;
  }
  .arrow {
    font-size: 30px;
  }
}/*# sourceMappingURL=style.css.map */