.article-container, .restaurants-menu a, h1, .btn-main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.number, .btn-functioning, .localisation {
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes progress-color-heart {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.25;
  }
  50% {
    opacity: 0.5;
  }
  75% {
    opacity: 0.75;
  }
  100% {
    opacity: 1;
  }
}
@keyframes degress-color-heart {
  0% {
    font-weight: 600;
    color: #FF79DA;
    opacity: 1;
  }
  25% {
    font-weight: 600;
    color: #FF79DA;
    opacity: 0.75;
  }
  50% {
    font-weight: 500;
    color: #FF79DA;
    opacity: 0.5;
  }
  75% {
    opacity: 0.75;
  }
  100% {
    opacity: 1;
  }
}
@keyframes animation-opening {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes rotation-back {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(-360deg);
  }
}
body {
  font-family: Roboto, sans-serif;
  font-size: 17px;
  margin: 0;
  padding: 0;
  position: relative;
}

main {
  text-align: center;
}

section {
  background: #F7F7F7;
  padding-bottom: 80px;
}

a {
  text-decoration: none;
  color: black;
}

@media screen and (min-width: 768px) {
  body {
    min-width: auto;
  }
  .nav-container {
    position: relative;
    display: flex;
    margin: 0;
    align-items: center;
    justify-content: center;
    width: auto;
    top: 40px;
  }
  .fuctioning-container {
    margin: 0 15px;
    position: relative;
  }
  .btn-functioning {
    white-space: nowrap;
    padding-right: 5px;
    position: relative;
  }
  .logo__functionning--phone {
    padding: 0 5px 0 15px;
    margin-right: 0;
  }
  .logo__functionning--list {
    margin-left: 15px;
    margin-right: 5px;
  }
  .logo__functionning--shop {
    margin-left: 15px;
    margin-right: 5px;
  }
  .number {
    left: -13px;
  }
  footer {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
  }
  .footer-title {
    margin: 0 15px;
    padding: 0 10px;
  }
  .footer-list-container {
    display: flex;
    flex-direction: row;
    padding-left: 0;
  }
  .footer_list-items {
    margin: 10px;
    white-space: nowrap;
  }
  .section-container {
    display: flex;
    position: relative;
    padding: 50px 0 40px 0;
    justify-content: center;
    padding-top: 50px;
    margin-top: 50px;
    flex-wrap: wrap;
  }
  .article-container {
    width: 330px;
    margin: 20px;
    position: relative;
  }
  .title-secondery {
    position: absolute;
    width: auto;
    top: 1px;
    margin-right: 580px;
  }
  .title-restaurant {
    margin-right: 610px;
  }
  .card-container {
    margin: 0;
    max-width: 340px;
  }
  .picture-restaurant {
    height: 350px;
  }
  .menu {
    width: 70%;
    margin: 0 auto;
  }
  h4 {
    margin-left: 18%;
  }
  .menu-card-container {
    width: 65%;
  }
}
@media screen and (min-width: 992px) {
  h1 {
    font-size: 37px;
  }
  .restaurants-menu h2 {
    font-size: 35px;
  }
  .restaurants-menu h2 p {
    font-size: 18px;
  }
  .nav-container {
    padding: 50px 0;
    align-items: center;
    align-content: center;
  }
  .functionning-container {
    margin: 10px 13px;
    width: 300px;
  }
  .section-container {
    flex-wrap: nowrap;
    overflow: hidden;
    align-items: center;
    padding-left: 480px;
  }
  .title-secondery {
    margin-right: 780px;
    font-size: 24px;
  }
  .title-restaurant {
    margin-right: 1290px;
  }
  .card-container {
    width: 320px;
  }
  .footer-title {
    margin: 0 25px;
  }
  .footer_list-items {
    margin-left: 35px;
  }
  .arrow {
    font-size: 30px;
    top: 35px;
  }
}
.btn-main {
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  border-radius: 25px;
  background: linear-gradient(#FF79DA, #9356DC);
  width: 218px;
  height: 50px;
  transition-duration: 600ms;
}
.btn-main:hover {
  opacity: 0.9;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.6);
  transition-duration: 600ms;
}

.fa-heart {
  animation: degress-color-heart 600ms;
  cursor: pointer;
}
.fa-heart:hover {
  animation: progress-color-heart 600ms;
  display: inline-block;
  background: linear-gradient(to top, #9356DC, #a16be0, #FF79DA, #ff93e1);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
}

h1 {
  font-family: Shrikhand, sans-serif;
  font-style: italic;
  font-weight: normal;
  font-size: 30px;
}

.restaurants-header {
  display: flex;
  justify-content: center;
  position: relative;
}
.restaurants-header .arrow {
  position: absolute;
  align-self: center;
  top: 30px;
  left: 40px;
  font-size: 20px;
  width: 17.2px;
  height: 16px;
}

.localisation {
  background-color: #EAEAEA;
}
.localisation i {
  margin-right: 20px;
}

.restaurants-menu {
  background: #F7F7F7;
  padding-bottom: 39px;
}
.restaurants-menu h2 {
  margin-top: 0;
  padding-top: 39px;
}
.restaurants-menu a {
  color: #F7F7F7;
  padding-top: 20px;
}

.nav-container {
  padding: 50px 20px 50px;
}

.btn-functioning {
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  width: 100%;
  height: 72px;
  background: #F7F7F7;
  transition-duration: 600ms;
  margin-bottom: 25px;
  font-weight: 500;
  font-size: 16px;
  transition: 600ms;
}
.btn-functioning:hover {
  background: #F5EDFF;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
  transition-duration: 600ms;
}
.btn-functioning:hover i {
  color: #9356DC;
}

.logo__functioning--phone {
  margin-right: 25px;
  color: #7E7E7E;
}
.logo__functioning--list {
  margin-right: 35px;
  color: #7E7E7E;
}
.logo__functioning--shop {
  margin-right: 30px;
  color: #7E7E7E;
}

.number {
  z-index: 1;
  position: absolute;
  left: 8px;
  margin-top: 23px;
  right: 12px;
  width: 25px;
  height: 25px;
  border-radius: 25px;
  background: #9356DC;
  color: #fff;
}

.section-container {
  padding: 18px 20px 40px 20px;
  background-color: #F7F7F7;
}

.card-heart {
  right: 5%;
  width: 20%;
  display: flex;
  justify-content: flex-end;
  padding-right: 20px;
  font-size: 21px;
}

.title-secondary {
  text-align: left;
}

.card-container {
  border-radius: 20px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  width: 100%;
  transition-duration: 600ms;
}
.card-container img {
  border-radius: 15px 15px 0 0;
  object-fit: cover;
  height: 174px;
  width: 100%;
}
.card-container:hover {
  transition: 600ms;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.4);
}

.card-bottom-container {
  display: flex;
  white-space: nowrap;
}

.card-texts {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.card-texts h2 {
  margin: 5px;
  font-size: 18px;
}
.card-texts p {
  margin: 5px;
}

.card-new {
  position: absolute;
  right: 10%;
  border: 1px solid #008766;
  background: #99E2D0;
  color: #008766;
  width: 25%;
  max-width: 150px;
  min-width: 70px;
  height: 29px;
  padding: 12px 5px 5px 5px;
}

.loader {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  top: 0;
  bottom: 0;
  border-top: 5px dashed #9356DC;
  border-right: 5px dashed #FF79DA;
  animation: rotation 3000ms linear infinite;
}
.loader::after {
  content: "";
  box-sizing: border-box;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  border-style: solid solid dashed;
  color: #9356DC;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  animation: rotation-back 2000ms linear infinite;
  transform-origin: center center;
}

.main-restaurants {
  background: #F7F7F7;
}

.picture-restaurant {
  width: 100%;
  height: 275px;
  object-fit: cover;
}

.menu {
  border-radius: 40px 40px 0px 0px;
  background: #F7F7F7;
  position: relative;
  top: -50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 0px;
}

.title-restaurants {
  font-family: Shrikhand, sans-serif;
  font-size: 18px;
  font-weight: 400;
  font-style: italic;
  line-height: 41px;
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.title-restaurants p {
  margin-left: 20px;
  font-size: 21px;
}

h4 {
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  border-bottom: 3px solid #99E2D0;
  width: 40px;
  height: 27px;
  align-self: flex-start;
  margin-left: 5%;
}

.menu-card-container {
  margin: 15px;
  width: 90%;
  display: flex;
  cursor: pointer;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
}
.menu-card-container:active {
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.menu-card {
  position: relative;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  padding-left: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: #fff;
  height: 70px;
  width: 100%;
  z-index: 1;
  transition-duration: 600ms;
  gap: 10px;
}
.menu-card:hover {
  width: 80%;
  border-radius: 15px 0 0 15px;
}

.title-menu {
  margin: 0;
  width: 75%;
  text-align: start;
  font-weight: 500;
  font-size: 18px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.garnish {
  display: inline-block;
  text-align: left;
  margin: 0;
  font-weight: 300;
  font-size: 15px;
  line-height: 17.58px;
  align-self: flex-start;
  width: 80%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.price {
  display: inline-block;
  position: absolute;
  top: 24px;
  right: 8%;
}

.check {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0 15px 15px 0;
  background: #99E2D0;
  color: #fff;
  font-weight: bold;
  font-size: 20px;
  height: 70px;
  width: 20%;
  right: 0;
}

.btn-main {
  margin-top: 35px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  border-radius: 25px;
  background: linear-gradient(#FF79DA, #9356DC);
  width: 218px;
  height: 50px;
  transition-duration: 600ms;
  color: #fff;
}
.btn-main:hover {
  opacity: 0.9;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.6);
  transition-duration: 600ms;
}

.anim__delay--1 {
  animation: animation-opening 600ms 200ms;
  transform: scale(0);
  animation-fill-mode: forwards;
}
.anim__delay--2 {
  animation: animation-opening 600ms 400ms;
  transform: scale(0);
  animation-fill-mode: forwards;
}
.anim__delay--3 {
  animation: animation-opening 600ms 600ms;
  transform: scale(0);
  animation-fill-mode: forwards;
}
.anim__delay--4 {
  animation: animation-opening 600ms 800ms;
  transform: scale(0);
  animation-fill-mode: forwards;
}
.anim__delay--5 {
  animation: animation-opening 600ms 1000ms;
  transform: scale(0);
  animation-fill-mode: forwards;
}
.anim__delay--6 {
  animation: animation-opening 600ms 1200ms;
  transform: scale(0);
  animation-fill-mode: forwards;
}
.anim__delay--7 {
  animation: animation-opening 600ms 1400ms;
  transform: scale(0);
  animation-fill-mode: forwards;
}
.anim__delay--8 {
  animation: animation-opening 600ms 1600ms;
  transform: scale(0);
  animation-fill-mode: forwards;
}
.anim__delay--9 {
  animation: animation-opening 600ms 1800ms;
  transform: scale(0);
  animation-fill-mode: forwards;
}
.anim__delay--10 {
  animation: animation-opening 600ms 2000ms;
  transform: scale(0);
  animation-fill-mode: forwards;
}

footer {
  width: auto;
  height: 197px;
  background: #353535;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
}

.footer-title {
  font-family: Shrikhand, sans-serif;
  font-style: italic;
  font-weight: normal;
  font-size: 18px;
  margin-top: 0;
  margin-left: 40px;
  padding-top: 22px;
}

.footer-list-container {
  list-style-type: none;
  display: flex;
  flex-direction: column;
}

.footer_list-items {
  margin-bottom: 7px;
}
.footer_list-items i {
  font-size: 13px;
  margin-right: 11px;
}

.fa-utensils {
  padding-right: 5px;
}

.footer-link {
  color: #fff;
}
.footer-link:hover {
  color: #FF79DA;
}

/*# sourceMappingURL=style.css.map */
