// heart animation
@keyframes progress-color-heart {
    0% {
        opacity: 0;
    }
    25%{
        opacity: .25;
    }
    50% {
      opacity: 0.5;
    }
    75%{
        opacity: 0.75;
    }
    100% {
        opacity: 1;
    }
    
  }

@keyframes degress-color-heart {
    0% {
        font-weight: 600;
        color: $color-secondary;

        opacity: 1;
    }
    25%{
        font-weight: 600;
        color: $color-secondary;
        opacity: .75;
    }
    50%{
        font-weight: 500;
        color: $color-secondary;
        
        opacity: .5;
    }
    75%{
        opacity: .75;
    }
   
    100% {
        opacity: 1;
    }
    
  }