// heart animation
@keyframes progress-color-heart {
    0% {
        opacity: 0;
    }
    25%{
        opacity: .25;
    }
    50% {
      opacity: 0.5;
    }
    75%{
        opacity: 0.75;
    }
    100% {
        opacity: 1;
    }
    
  }

@keyframes degress-color-heart {
    0% {
        font-weight: 600;
        color: $color-primary;

        opacity: 1;
    }
    25%{
        font-weight: 600;
        color: $color-primary;
        opacity: .75;
    }
    50%{
        font-weight: 500;
        color: $color-secondary;
        opacity: .5;
    }
    75%{
        opacity: .75;
    }
   
    100% {
        opacity: 1;
    }
    
  }
  //menu delay animation 
  @keyframes animation-opening{
    0%{
        transform: scale(0);

    }
    100%{
        transform: scale(1);

    }
  }
  
  // rotation loader
  @keyframes rotation {
    0% {
      transform: rotate(0deg);
      
    }
    100% {
      transform: rotate(360deg);
    }
  } 

  @keyframes rotation-back{
    0%{
        transform: rotate(0);
    }
    100%{
        transform: rotate(-360deg);
    }
  }
  @keyframes loading-page {
    0%{
      opacity: 1;
    }
    100%{
      visibility: hidden;
      opacity: 0;
    }
  }
