
@mixin box-shadow {
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}
@mixin font-logo-ohmyfood{
    font-family: Shrikhand, sans-serif;
    font-style: italic;
    font-weight: normal;
}
@mixin font-title-restaurants {
    font-family: Shrikhand, sans-serif;
    font-size: 18px;
    font-weight: normal;
    font-style: italic;
    line-height: 41px;

}
@mixin btn-main {
    @include box-shadow;
    @extend %flex-center-column;
    border-radius: map-get($radius-btn, main-btn);
    background: linear-gradient($color-secondary, $color-primary);
    margin: 40px auto;
    width: 218px;
    height: 50px;
    transition-duration: $transition-btn;
}

@mixin btn-functioning {
    @include box-shadow;
    @extend %flex-center-row; 
    border-radius: map-get($radius-btn, index-btn);
    width: 100%;
    height: 72px;
    background: $color-background;
    transition-duration: $transition-btn;
}

@mixin heart-hover {
    animation: progress-color-heart $transition-btn;
    display: inline-block;
    background: linear-gradient(200.64deg, #9356DC -5.2%, #FF79DA 110.74%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
}
@mixin heart-degress {
    animation: progress-color-heart $transition-btn;
    display: inline-block;
    background: linear-gradient(200.64deg, #9356DC -5.2%, #FF79DA 110.74%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
}
@mixin menu-opening{
    transform: scale(0);
    animation-fill-mode: forwards;

}
