

%flex-center-column {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
%flex-center-row{
    display: flex;
    justify-content: center;
    align-items: center;
}