// variables =======================
// color
$color-primary:           #9356DC;
$color-secondary:         #FF79DA;
$color-bg-functionning:   #F5EDFF;
$color-background-new:    #99E2D0;
$color-font-news:         #008766;
$color-background:        #F7F7F7;
$color-footer:            #353535;
$black:                   #000;
$white:                   #fff;
// transition duration
$transition-btn:       600ms;